# Core App
gradio==4.31.0
huggingface_hub==0.23.0
python-dotenv

# LangChain Core
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community


# Dependencies
openai
openai-agents
chromadb
pypdf
requests
openpyxl

google-generativeai>=0.7.0
flask
