name: Sync to Hugging Face Hub

on:
  push:
    branches:
      - main  # Or whichever branch you want to sync from

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
    env: HF_TOKEN: ${{ secrets.HF_TOKEN }}
    run: git remote add hf "https://Auro-connect:${HF_TOKEN}@huggingface.co/Auro-connect/Auroville_chatbot"
      git push hf main
          
